body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-container {
    text-align: center;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.result-container {
    margin-top: 20px;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
}

.result-container h2 {
    color: #007BFF;
}

.result-container ul {
    list-style-type: none;
    padding: 0;
}

.result-container li {
    margin: 5px 0;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
